
{% extends './base_main.html' %}

{% block title %}
    异清轩博客管理系统 - 类型管理
{% endblock %}

{% block section %}
  {{ block.super }}
    {% block uname %}
        {{ username }}
    {% endblock %}
  {% block info %}
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <div class="col-md-5">
          <h1 class="page-header">添加</h1>
          <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
              <label for="category-name">类型名称</label>
              <input type="text" id="category-name" name="type_name" value="{{ cate.type_name }}" class="form-control" placeholder="在此处输入栏目名称" required autocomplete="off">
              <span class="prompt-text">这将是它在站点上显示的名字。</span> </div>

            <div class="form-group">
              <label for="category-fname">父类型</label>
              <select id="category-fname" class="form-control" name="f_type_id">
                 <option value="" name="f_type_id">无</option>
                {% for cat in cats %}
                    {% if not cat.f_type %}
                        {% if cat.id == cate.f_type_id and cate.f_type_id %}
                            <option value="{{ cat.id }}" name="f_type_id" selected>{{ cat.type_name }}</option>
                        {% else %}
                             <option value="{{ cat.id }}" name="f_type_id">{{ cat.type_name }}</option>
                        {% endif %}
                    {% endif %}
               {% endfor %}
              </select>
              <span class="prompt-text">栏目是有层级关系的，您可以有一个“音乐”分类目录，在这个目录下可以有叫做“流行”和“古典”的子目录。</span> </div>

            <button class="btn btn-primary" type="submit" name="submit">添加新栏目</button>
          </form>
        </div>
        <div class="col-md-7">
          <h1 class="page-header">管理 <span class="badge">{{ cats.count }}</span></h1>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th><span class="glyphicon glyphicon-paperclip"></span> <span class="visible-lg">ID</span></th>
                  <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">名称</span></th>
                  <th><span class="glyphicon glyphicon-list-alt"></span> <span class="visible-lg">父类型</span></th>
                  <th><span class="glyphicon glyphicon-pushpin"></span> <span class="visible-lg">总数</span></th>
                  <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                </tr>
              </thead>
              <tbody>
                {% for cat in cats %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ cat.type_name }}</td>
                      <td>{% if cat.f_type %}{{ cat.f_type.type_name }} {% else %} 无 {% endif %}</td>
                      <td>{{ cat.count }}</td>
                      <td><a href="{% url 'backweb:update_cat' cat.id %}">修改</a> <a href="{% url 'backweb:del_cat' cat.id %}">删除</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <span class="prompt-text"><strong>注：</strong>删除一个栏目也会删除栏目下的文章和子栏目,请谨慎删除!</span> </div>
        </div>
      </div>
    </div>
    {% endblock %}
{% endblock %}

{% block js %}
  {{ block.super }}
    <script>
    //是否确认删除
    $(function(){
        $("#main table tbody tr td a").click(function(){
            var name = $(this);
            var id = name.attr("rel"); //对应id
            if (event.srcElement.outerText === "删除")
            {
                if(window.confirm("此操作不可逆，是否确认？"))
                {
                    $.ajax({
                        type: "POST",
                        url: "/Category/delete",
                        data: "id=" + id,
                        cache: false, //不缓存此页面
                        success: function (data) {
                            window.location.reload();
                        }
                    });
                };
            };
        });
    });
  </script>
{% endblock %}
